@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

//font variable
$font_main: "Roboto", sans-serif;

//colour variables
$background_dark_grey: #6e6e6e;
$modal_light_grey: #b3b3b3;
$modal_text_grey: #4d4d4d;
$modal_text_light_grey: #737373;
$modal_button_colour_bottom: #04031c;
$text_white: #fff;

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background_dark_grey;
  font-family: $font_main;
}

@media screen and (min-width: 769px) {
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70% !important;

    .modal__buttons {
      height: 8vh;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      button {
        width: 20%;
        margin: 0 5px;
      }
    }
  }
}

.modal-trigger-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-trigger-btn {
  width: 40vw;
  height: 10vh;
  font-size: 1.2em;
  text-align: center;
  border-radius: 5px;
}

.modal-trigger-btn:hover {
  cursor: pointer;
}

.modal.hidden {
  display: none;
}
.modal {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 410px;

  &__content {
    background-color: $modal_light_grey;
    color: $modal_text_grey;
    padding: 30px 20px 30px 20px;

    &-header {
      text-align: center;
      color: $modal_button_colour_bottom;
      margin-bottom: 5px;
    }

    .tick-icon {
      width: 25px;
      height: 25px;
      background-image: url("../assets/check.png");
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      margin: 0 10px 5px 0;
      vertical-align: middle;
    }
    &-text {
      margin-top: 15px;
      padding: 0 18px 0 10px;
      font-size: 0.9em;
      color: $modal_text_light_grey;
      font-weight: 200;
    }
  }
  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $modal_light_grey;
    height: 18vh;
    justify-content: center;

    button {
      width: 70%;
      height: 40px;
      margin: 3px auto;
      text-align: center;
      padding: 10px;
      font-size: 1em;
      font-weight: bolder;
      font-style: italic;
      border-radius: 5px;
    }

    button:hover {
      cursor: pointer;
    }

    &-top {
      background-color: $modal_light_grey;
      color: $modal_text_light_grey;
    }
    &-bottom {
      background-color: $modal_button_colour_bottom;
      color: $text_white;
      border: none;
    }
  }
  &__divider {
    width: 100%;
    height: 1px;
    background-color: $modal_text_light_grey;
  }
}
